.calendar {
    width: auto;
    font-family: Arial, sans-serif;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
  
  .calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .calendar-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;
    color: gray;
    text-align: center;
  }
  
  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
  }
  
  .day, .empty-day {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .day.selected {
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  .empty-day {
    visibility: hidden;
  }
  