
/* components/Masonry.module.css */  
/* components/Masonry.module.css */
.masonryGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: auto; /* Usar "auto" para que las filas se ajusten dinámicamente al contenido */
  grid-auto-flow: dense; /* Permite que los elementos se coloquen de manera más eficiente */
  flex-grow: 1;
  box-sizing: border-box;
}

.masonryItem {
  position: relative;
  overflow: hidden;
  background-size: cover; /* Ajusta el tamaño de fondo para cubrir el contenedor */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px; /* Añade bordes redondeados para un aspecto más suave */
  height: auto; /* Inicialmente establecido en 0 para calcular proporcionalmente */
  padding-bottom: 100%; /* Proporción cuadrada por defecto (1:1) */
  background-color: rgb(19, 39, 65);
  

}
.dark .masonryItem {
  position: relative;
  overflow: hidden;
  background-size: cover; /* Ajusta el tamaño de fondo para cubrir el contenedor */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px; /* Añade bordes redondeados para un aspecto más suave */
  height: auto; /* Inicialmente establecido en 0 para calcular proporcionalmente */
  padding-bottom: 100%; /* Proporción cuadrada por defecto (1:1) */
  background-color: #fc0 ;
  

}

.masonryItem.square {
  grid-column: span 1;
  grid-row: span 1;
}

.masonryItem.horizontal {
  grid-column: span 2;
  grid-row: span 1;
  padding-bottom: 50%; /* Proporción horizontal (2:1) */
}

.masonryItem.vertical {
  grid-column: span 1;
  grid-row: span 2;
  padding-bottom: 200%; /* Proporción vertical (1:2) */
}

.masonryItem.large {
  grid-column: span 2;
  grid-row: span 2;
  padding-bottom: 100%; /* Proporción grande (2:2, cuadrada) */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
 color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
 transition: opacity 0.3s ease ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1; /* Mostrar el superpuesto al pasar el mouse */
}

@media (min-width: 600px) {
  .masonryGrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (min-width: 900px) {
  .masonryGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
